.container {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: bisque;
}
.transactionHistory {
  margin: auto;
  width: 900px;
  background-color: lightgrey;
  box-shadow: 0 2px 2px dimgray;
}
